#ow-db-form {
  padding: 120px 25vw 20px 25vw;
}

ul.unformatted {
  list-style-type: none;
  padding-left: 20px;
}

ul.unformatted > li {
  margin: 15px 0px;
}

span.video-tag {
  background-color: rgb(216, 216, 216);
  color: #272727;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 10px;
  /* border: solid 2px black; */
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 50px;
}

span.video-tag button {
  background-color: rgb(216, 216, 216);
  border: none;
  color: #272727;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: -1px;
  border-radius: 25px;
}

span.video-tag button:hover {
  background-color: red;
  color: rgb(216, 216, 216);
}

span.video-tag button:active {
  background-color: rgb(128, 0, 0);
  box-shadow: none;
}