<div id="ow-db-form">
  <h1>Overwatch Database Form</h1>
  <form (ngSubmit)="onSubmit()" #OwHeroForm="ngForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-video-iframe"
          ngbPopover="Generated embed <iframe /> code from YouTube to insert video players" [openDelay]="300"
          [closeDelay]="500" triggers="mouseenter:mouseleave">
          HTML iframe
        </button>
      </div>
      <textarea class="form-control" id="db-form-video-iframe" rows="5" cols="50" required name="db-form-video-iframe"
        [(ngModel)]="videoEntry.youtube_iframe" (blur)="htmlIframeOnBlur()">
      </textarea>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-video-url" ngbPopover='Website (YouTube/Vimeo) URL of video. Hint: grab the URL 
          in the "src" attribute in the HTML iframe.' [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
          Video URL
        </button>
      </div>
      <input class="form-control" id="db-form-video-url" required name="db-form-video-url"
        [(ngModel)]="videoEntry.video_url" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-video-date" ngbPopover="Date video was created"
          [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
          Video Date
        </button>
      </div>
      <input class="form-control" type="date" id="db-form-video-date" name="db-form-video-date"
        [(ngModel)]="videoEntry.video_date" required />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-hero-name"
          ngbPopover="Select hero of the video clip" [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
          Hero Name
        </button>
      </div>
      <select class="custom-select" id="db-form-hero-name" name="db-form-hero-name" [(ngModel)]="videoEntry.hero"
        required>
        <option *ngFor="let hero of overwatchHeroes" [value]="hero.normalizedName">
          {{hero.name}}
        </option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-video-title" ngbPopover='Alternate title for video to display. Default:
          <hero name>_<video date>' [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
          Alternate Title
        </button>
      </div>
      <input class="form-control" id="db-form-video-title" name="db-form-video-title"
        [(ngModel)]="videoEntry.video_title" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-clip-type"
          ngbPopover='Choose between "Highlight" or "PotG". Default: Highlight' [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
          Clip Type
        </button>
      </div>
      <select class="custom-select" id="db-form-clip-type" name="db-form-clip-type" [(ngModel)]="videoEntry.type">
        <option value="highlight">Highlight</option>
        <option value="potg">PotG</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-tags"
          ngbPopover="Add tags to the video for cross-referencing" [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
          Tags
        </button>
      </div>
      <input class="form-control" id="db-form-tags" name="db-form-tags" [(ngModel)]="newTagValue" />
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="addTag();">Add Tag</button>
      </div>
    </div>
    <div id="video-tags">
      <span class="video-tag" *ngFor="let tag of videoEntry.tags; index as idx">
        <span>{{tag}}</span>
        <button type="button" (click)="removeTag(idx);">x</button>
      </span>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" for="db-form-description"
          ngbPopover="Personal commentary, if desired" [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
          Description
        </button>
      </div>
      <textarea class="form-control" id="db-form-description" rows="3" cols="50" name="db-form-description"
        [(ngModel)]="videoEntry.description">
      </textarea>
    </div>
    <div>
      <button class="btn btn-success" type=submit [disabled]="OwHeroForm.form.invalid">Submit</button>
      <button class="btn btn-danger" type="button" (click)="clearForm();">Clear</button>
    </div>
  </form>
</div>