div.render-height {
  min-height: 100%;
}

.video-search-menu {
  padding: 110px 10px 20px 10px;
  background: #272727;
  min-height: 100vh;
  color: rgb(216, 216, 216);
}

.video-search-menu h1, .video-search-results h1 {
  font-weight: bold;
  font-size: 1.9em;
}

form {
  padding-bottom: 20px;
}

.video-search-results {
  padding-top: 10px;
  border-top: 1px solid rgb(216, 216, 216);
}

ul.video-search-entries {
  list-style-type: none;
  padding-left: 0px;
}

ul.video-search-entries > li {
  margin-bottom: 10px;
}

ul.video-search-entries > li > a {
  padding: 5px 10px 5px 10px;
  background-color: rgb(216, 216, 216);
  color: #272727;
  border-radius: 5px;
}

ul.video-search-entries > li > a:hover {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}

ul.video-search-entries > li > a:active {
  box-shadow: 0 0 0 black;
}