[class^="col-"] {
  padding: 0px;
}

section.update-form {
  padding-top: 120px;
}

section.update-form form {
  margin-bottom: 20px;
}

section.update-form h1 {
  font-size: 1.5em;
  font-weight: bold;
}

div.input-group {
  width: 700px;
}

#add-new-tag {
  font-weight: bolder;
}

#video-tags {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}

span.video-tag {
  background-color: rgb(216, 216, 216);
  color: #272727;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 10px;
  /* border: solid 2px black; */
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

span.video-tag button {
  background-color: rgb(216, 216, 216);
  border: none;
  color: #272727;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: -1px;
  border-radius: 25px;
}

span.video-tag button:hover {
  background-color: red;
  color: rgb(216, 216, 216);
}

span.video-tag button:active {
  background-color: rgb(128, 0, 0);
  box-shadow: none;
}

div.deleteCard {
  width: 700px;
  background-color: #3f3f3f;
  color: rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
}