<div class="row">
  <nav class="col-sm-5 col-md-4">
    <app-video-search [videoSearchResults]="videoSearchResults"
      (videoSelectEvent)="videoSelectHandler($event);">
    </app-video-search>
  </nav>
  <section class="col-sm-7 col-md-8" id="main-video-view" *ngIf="selectedVideo">
    <h1>{{selectedVideo.video_title}}</h1>
    <section id="video">
      <div *ngIf="isYoutube">
        <iframe width="700" height="395" [src]="trustedVideoUrl" frameborder="0" allowFullScreen>
        </iframe>
      </div>
      <div *ngIf="isVimeo">
        <iframe [src]="trustedVideoUrl" width="700" height="395" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </section>
    <section id="video-tags">
      <span>
        <a class="video-tag" (click)="videoSearchByHero(selectedVideo.hero);">
          #{{selectedVideo.hero}}
        </a>
      </span>
      <span *ngFor="let tag of selectedVideo.tags">
        <a class="video-tag" (click)="videoSearchByTag(tag);">{{tag}}</a>
      </span>
    </section>
    <section id="video-description" *ngIf="selectedVideo.description">
      <p>{{selectedVideo.description}}</p>
    </section>
  </section>
</div>