[class^="col-"] {
  padding: 0px;
}

#main-video-view {
  padding-top: 120px;
  padding-left: 20px;
}

#main-video-view h1 {
  font-weight: bolder;
  padding-left: 20px;
}

#video-tags {
  margin-top: 5px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}

span.video-tag {
  padding: 5px 10px 5px 10px;
  background-color: #272727;
  color: rgb(216, 216, 216);
  border-radius: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

span.video-tag:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px black;
}

span.video-tag:active {
  box-shadow: 0px 0px 0px black;
}

#video-description {
  background-color: #272727;
  border-radius: 5px;
  font-size: 1.1em;
  width: 700px;
  padding: 10px;
}